/* Start of All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 18px;
  color: #333;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  /* background-color: #a8dcf0; */
  animation: changeBg 6s infinite alternate linear;
}
/* End of All Selector */

/* Start of background color animation */
@keyframes changeBg {
  0% {
    background-color: #ee6055;
  }
  25% {
    background-color: #60d394;
  }
  50% {
    background-color: #aaf683;
  }
  75% {
    background-color: #ffd97d;
  }
  100% {
    background-color: #ff9b85;
  }
}
/* End of background color animation */

/* Start of container */
.container {
  background-color: #a8dcf0;
  padding: 50px 20.5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 20px 20px 50px 15px rgb(87, 87, 87);
}
/* End of container */

/* Start of title */
h1 {
  text-transform: uppercase;
}
/* End of title */

/* Start of counter number */
.counter-preview {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
/* End of counter number */

/* Start of buttons style */
button {
  font-family: "Noto Sans Arabic", sans-serif;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
/* End of buttons style */
